:root {
  --primary-color: #007bff;
  --text-color: #333;
  --font-family: "Inter", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
   margin: 0;
  font-family: var(--font-family);
  color: var(--text-color);
  background: #f9f9f9;

  h1 {
    font-size: 2rem;
    text-align: center;
    margin-top: 20px;
  }

  @media (--mobile) {
    h1 {
      font-size: 1.5rem;
    }
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
