.button {
  background-color: var(--primary-color);
  color: white;
  padding: 12px 18px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    opacity: 0.8;
  }

  @media (--mobile) {
    padding: 10px 14px;
    font-size: 14px;
    background-color: red;
  }
}
